div.add_basket {
    display: block;

    background: url('../images/add_basket.png') no-repeat;
    background-size:cover;
    width: 16px; /* Width of new image */
    height: 16px; /* Height of new image */
    padding-left: 8px; /* Equal to width of new image */

}


div.remove_basket {
    display: block;

    background: url('../images/remove_basket.png') no-repeat;
    background-size:cover;
    width: 16px; /* Width of new image */
    height: 16px; /* Height of new image */
    padding-left: 8px; /* Equal to width of new image */

}
